table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border: 1px solid #ddd;
}
.text-right{text-align: right;}
.pull-right {float: right !important;}
.page-break-after { page-break-after: always; }
.page-break-before { page-break-before: always; }
.header, .footer { position: fixed; }
.page-num-hld { color: #FF6500; }
.header {top: -15px; right: -15px; }
.footer { bottom: 0px; }
.pagenum:before { content: counter(page); }
.fac_info li{padding: 10px;}