/*! Adminre v.1.2.0 - custom.css
 *
 * @note : Avoid altering this file. Any enhancement should be done in this file
 * @author : JohnPozy
 * @author URL : http://themeforest.net/user/pampersdry
 */
 
/* ----------------------------
 *
 * Your very own modification ;)
 *
 * --------------------------- */
.nb{border:none !important; }
.center{text-align: center !important; }
.round-border{border-radius: 50% !important; }
.whitebg{background-color: #fff;}
.transbg{background-color: transparent;}
.full-width{width: 100% !important;}
.i-text-left{text-align: left !important; }
.i-text-right{text-align: right !important; }
.text-wrap{white-space: normal !important; }
hr.invi{border-color: transparent !important;}
.float-right{float: right !important;}
.display-inline{display: inline !important;}
.display-inline-blk{display: inline-block !important;}
.ml30{margin-left: 30px !important;}
.mt30{margin-top: 30px !important;}

.selectize-control .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #444 transparent transparent;
}
.selectize-input.dropdown-active:after{margin-top:-3px;border-width:0 5px 5px;border-color:transparent transparent #333}
.selectize-control.auto_complete .selectize-input:after{display: none;}
.selectize-control.auto_complete .selectize-input.dropdown-active:after{display: none;}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #00b1e1;
    border-color: #00a5d2;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading {
    color: inherit;
}
.list-group-item.active .list-group-item-heading a,
.list-group-item.active:hover .list-group-item-heading a,
.list-group-item.active:focus .list-group-item-heading a{
    color: #fff;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active .list-group-item-text a,
.list-group-item.active:hover .list-group-item-text a,
.list-group-item.active:focus .list-group-item-text a{
    color: #e1edf7;
}

.page_load_indicator{
    z-index: 9999;
}
.page_load_indicator.spinner{

}

.functionmate-logo
{
    height: 60px;
    width: 240px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 8px;
    vertical-align: top;
    text-decoration: none;
    background-image: url(../image/logo/logo-text-inverse.png);
    background-size: 220px 48px;
}
/*********Top Search Form*********/
.navbar-form .ico-search{
    cursor: pointer;
}
/*********\ Top Search Form*********/

#nprogress .bar
{
    background: #fff;
}
#nprogress .peg
{
    box-shadow: 0 0 10px #FFF,0 0 5px #FFF;
}

.has-error .selectize-input{
    border: 1px solid #ff0000;
}

.frm_alert_hld .alert{
    margin-bottom: 5px;
}

/********APP Summary page************/
.app_summ_acco{
    cursor: pointer;
}
.app_summ_acco .ico-chevron-up{
    display: none;
}
.app_summ_acco .ico-chevron-down{
    display: block;
}
.app_summ_acco.active .ico-chevron-up{
    display: block;
}
.app_summ_acco.active .ico-chevron-down{
    display: none;
}


/********APP Detail page************/
.q_left_section .app_std_list{
    height: 750px;
}
.q_left_section .viewport:after,
.q_left_section .viewport:before{
    display: none;
}
.media-list-bubble>.media>.media-body .media-text {
    width: 100%;
}
.q_right_section .media-list-bubble>.media {
    padding: 8px 15px 8px 0px;
}
.q_right_section .media-list-bubble>.media.replies {
    padding: 0px 15px 0px 45px;
}
.q_right_section .media-list-bubble .reply_media_list p.media-meta {
    color: #eee;
}
.q_right_section .media-list-bubble .media.media-right{
    padding: 8px 0px 0px 50px;
}
.q_right_section .load_more_replies_hld{
    padding: 0px 0px 0px 50px;
}
.note-editor .note-toolbar{
    margin: 0;
}

.q_right_section .comments_section .custom-checkbox>label:before{
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
}

.q_right_section .comments_section .custom-checkbox>label:after{
    font-size: 8px;
    line-height: 8px;
    left: 4px;
    top: 3px;
}
.remind_at_obj .ui-datepicker-current,
.due_by_obj .ui-datepicker-current,
.action_remind_at_obj .ui-datepicker-current,
.action_due_by_obj .ui-datepicker-current,
.remind_dt_obj .ui-datepicker-current{
    display: none;
}

.q_right_section .std_ratings_hld .media.qpma .media-text{
    background-color: #009dc8;
    color: #f2f2f2;
}
.q_right_section .std_ratings_hld .media.qpma p,
.q_right_section .std_ratings_hld .media.qpma a,
.q_right_section .std_ratings_hld .media.qpma label {
    color: #f2f2f2;
}

/* Feedback Form */
.transition200{
    transition:200ms;
    -webkit-transition:200ms;
    -o-transition:200ms;
}
#contact-wrapper{
    position: absolute;
    right: 0px;
   /* width: 365px; */
    /*width: 42px;*/
    height:400px;
    /*overflow:hidden;*/
    z-index:99999;
    top:100px;
    margin-right: 0px;
}
#contact-wrapper label.error {
    color: #F00;
    text-shadow: 1px 1px 1px #1F1F1F;
    width: 300px;
    text-align: right;
}
#contact-wrapper .floating-contact-inner {
    position: absolute;
    width: 320px;
    background: #3c424a url(/assets/image/feedback/denim.png) repeat;
    padding: 20px 10px 20px 10px;
    /*font: 12px Arial, Helvetica, sans-serif;*/
    /*text-shadow: 1px 1px 1px #3C3C3C;*/
    color: #FFF;
    border-radius: 10px 0px 0px 10px;
    right: -320px;
}
#contact-wrapper .floating-contact-inner h1>span {
    display: block;
    font-size: 11px;
}
#contact-wrapper .floating-contact-inner label {
    display: block;
    padding: 0 0 0 25px;
    /*margin: 0px 0px 10px;*/
}
#contact-wrapper .floating-contact-inner label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
#contact-wrapper .floating-contact-inner textarea{
    height:100px;
}

#contact-wrapper #contact-btn {
    background: url(/assets/image/feedback/feedback_small.png) no-repeat 50% #1e9be2;
    height: 130px;
    width: 30px;
    float: left;
    cursor: pointer;
    /* margin: 80px 0px 0px -70px; */
    position: absolute;
    left: -25px;
    /* top: 21px; */
    /* right: -10px; */
    border-radius: 8px 0px 0px 8px;
}

#contact-wrapper #contact-btn:hover,
#contact-wrapper .floating-contact-inner.visible #contact-btn {
    left: -30px;
}

#contact-wrapper .success{
    padding: 0px 20px 20px;
}
#contact-wrapper .success h2{
    font-size: 20px;
    border-bottom: 1px dotted #686868;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}
#contact-wrapper #result .error{
    text-align: center;
    color: #FF0000;
    text-shadow: 1px 1px 1px #1F1F1F;
}

/* site form */

/* video help form */
#v-help-wrapper{
    position: absolute;
    right: 0px;
    /*width: 100%;*/
    /* width: 365px; */
    /*width: 42px;*/
    height:400px;
    /*overflow:hidden;*/
    z-index:99999;
    top:50px;
    margin-right: 0px;
}
#v-help-wrapper label.error {
    color: #F00;
    text-shadow: 1px 1px 1px #1F1F1F;
    width: 300px;
    text-align: right;
}
#v-help-wrapper .floating-v-help-inner {
    position: absolute;
    /*width: 75%;
    max-width: 600px;*/
    width:600px;
    background: #3c424a url(/assets/image/feedback/denim.png) repeat;
    padding: 15px 5px 15px 5px;
    /*font: 12px Arial, Helvetica, sans-serif;*/
    /*text-shadow: 1px 1px 1px #3C3C3C;*/
    color: #FFF;
    border-radius: 10px 0px 0px 10px;
    right: -600px;
}
#v-help-wrapper .floating-v-help-inner .v_list{
    overflow-y: scroll;
}
#v-help-wrapper .floating-v-help-inner h1>span {
    display: block;
    font-size: 11px;
}
#v-help-wrapper .floating-v-help-inner label {
    display: block;
    padding: 0 0 0 25px;
    /*margin: 0px 0px 10px;*/
}
#v-help-wrapper .floating-v-help-inner label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
#v-help-wrapper .floating-v-help-inner textarea{
    height:100px;
}

#v-help-wrapper #v-help-tog-btn {
    background: url(/assets/image/v_help.png) no-repeat 50% #000;
    height: 32px;
    width: 30px;
    float: left;
    cursor: pointer;
    /* margin: 80px 0px 0px -70px; */
    position: absolute;
    left: -25px;
    /* top: 21px; */
    /* right: -10px; */
    border-radius: 5px 0px 0px 5px;
}

#v-help-wrapper #v-help-tog-btn:hover,
#v-help-wrapper .floating-v-help-inner.visible #v-help-tog-btn {
    left: -30px;
}

#v-help-wrapper .success{
    padding: 0px 20px 20px;
}
#v-help-wrapper .success h2{
    font-size: 20px;
    border-bottom: 1px dotted #686868;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}
#v-help-wrapper #result .error{
    text-align: center;
    color: #FF0000;
    text-shadow: 1px 1px 1px #1F1F1F;
}

/* tables */

table.tablesorter thead tr .header,
table.t_sort thead tr .sort_col{
    background-image: url(../image/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp,
table.t_sort thead tr .headerSortUp{
    background-image: url(../image/asc.gif);
}
table.tablesorter thead tr .headerSortDown,
table.t_sort thead tr .headerSortDown{
    background-image: url(../image/desc.gif);
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 480px) and (orientation: portrait){
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-width: 640px) and (orientation: landscape){
    /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width: 640px){
    /* site form - Mobile Phones Portrait or Landscape*/
    .site_edu_row{
        border: 1px solid #ddd;
    }

    /* video help form - Mobile Phones Portrait or Landscape*/
    #v-help-wrapper .floating-v-help-inner {
        width: 320px;
        right: -320px;
    }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
    /* some CSS here */
}

