.leftnumber {
    line-height: 36px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    background-color: #dde4e6;
    font-size: 14px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    color: #b1c2c6;
    display: block;
}
.v-inner {
    position: absolute;
    top: 50%;
    margin-top: -18px;
}
.v-center {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lineadd {
    display: none;
}
.form-group:hover .lineadd, .form-group:active .lineadd {
    display: block;
}
.formula {
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 25px 0;

}

.v-center .form-group {
    background: url('/assets/image/nodet.png') no-repeat 32px;
}
.v-center .form-group:last-child {
    background: url('/assets/image/nodelast.png') no-repeat 32px;
}
.v-center .form-group:first-child {
    background: url('/assets/image/nodefirst.png') no-repeat 32px;
}
.v-center .form-group:only-child {
    background: none !important;
}
@media (max-width:767px){
    .v-center .v-inner {
        width: 100%;
        position: relative;
        margin: 0 0 10px 0;
    }
    .v-center .col-xs-11 {
        width: 100%;
    }
    .v-center .mp_event_prop_cond_hld {
        margin-bottom: 5px;
    }
    .v-center .form-group {
        background: none !important;
    }
    .v-center .mp_and_or_hld {
        margin: 10px 0 !important;
        width: 100%;
    }
    .v-center .mp_event_prop_type_hld .col-sm-8 {
        width: 100%;
        margin: 0 0 5px 0 !important;
    }
    .v-center .col-xs-11 .col-sm-2 {
        width: 91.666666667%
    }
    .v-center .col-sm-1.pull-right {
        position: absolute;
        top: 15px;
        right: 0;
        padding: 0;
    }
    .v-center .lineadd {
        margin: 0px;
        float: none !important;
        width: 91.66667%;
        padding: 0 5px 0 0;
    }
    .lineadd {
        display: block;
    }
}

/**Raja*/
.mp_where_sec .form-group.mp_where:first-child .mp_conj_toggle{
    display: none;
}
.mp_where_sec .form-group.mp_where .mp_and_or_hld{
    margin-top: -10px;
}
.mp_where_sec .form-group.mp_where:first-child .mp_and_or_hld{
    margin-top: 5px;
}
.mp_event_prop_tools_hld {
    float:right;
}
@media (max-width:767px){
    .mp_event_prop_tools_hld {
        float:none;
    }
}
